/* ---------- Basic Stuff ---------- */
body {
    background-color: white;
    background-image: url("../../assets/img/blog/pollyanna/grunge.png");
	background-attachment: fixed;
	color: black;
    /* color: darkolivegreen; */
    font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
}

.tab-buttons {
	background-color: darkgreen;
	border: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: 20px;
}

.tab-btn {
	background-color: lime;
	color: darkolivegreen;
	font-family: Verdana, sans-serif;
}

.tab-btn:hover {
	background-color: #004800;
  	color: lime;
}

.tab-contents {
	background-color: lightgreen;
	padding: 10px;
}

a {
	color: green;
}

a.disabled {
    color: lime;
}

hr {
	border: lightgreen 1px solid;
}

/* ---------- Sidebars ---------- */
.sidebar {
	display: block;
    width: 20%;
    background-color: #d3f2d3; 
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
}

.sidebar.left {
    margin-right: 10px;
}

.sidebar.right {
    margin-left: 10px;
}

.sidebar section {
    margin-bottom: 20px;
}

.sidebar h2 {
    background-color: darkgreen;
    color: lime;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
    text-align: center;
}

.sidebar p, .sidebar ul {
    margin: 10px 0;
    font-size: 12px;
}

.sidebar blockquote {
    margin: 0;
    padding: 10px; 
    background-color: #f8f8f8;
    border-left: 4px solid #ccc;
    font-size: 10px; 
    line-height: 1.5;
    width: 100%;
    box-sizing: border-box;
}

/* ---------- About ---------- */
.about {
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	color: black;
}

/* ---------- Posts ---------- */
.posts {
    padding: 20px;
}

.post .title {
	background-color: darkgreen;
	font-size: large;
}

.post .title a {
	color: lime;
}

.post .postbody {
	background-color: lightgreen;
	font-size: 12px;
}

.post .footer {
	background-color: darkgreen;
	color: lime;
	font-family: Verdana, sans-serif;
}

/* ---------- Comments ---------- */
.comment {
	background: lightgreen;
}

.comment .author {
    background: darkgreen;
	color: lime;
}

.comment.reply .comment-body {
	background: lightgreen;
}

/* ---------- Collapsible Comment Button ---------- */
.comment-btn {
	color: lime;
	font-family: Verdana, sans-serif;
	font-weight: bold;
}

.comment-btn:active { /* <-- This happens only once when the element is clicked */
    background-color: #004800;
	color: lightgreen;
}

/* ---------- Canvas ---------- */
.graffiti-canvas canvas {
    width: 100%; 
    max-width: 180px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
}

/* ---------- Manifesto ---------- */
.manifesto {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    font-family: Tahoma, sans-serif;
    margin: 20px 0;
}

.manifesto ul {
	margin: 15px;
	padding: 0;
}

.manifesto a {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
}

/* Mobile */
@media (max-width: 768px) {
    .wrapper {
        flex-direction: row;
    }
    .sidebar, .tab-buttons, .tab-contents {
        width: 100%;
        margin: 0;
    }
    .posts {
        flex-direction: column;
    }
    .blog-preview {
        width: 100%;
    }

	/* .sidebar { display: none; } */
}